{% extends "base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>
<p>Total Signups: {{ total }}</p>

<a href="/admin-logout">Logout</a>

<table border="1" cellpadding="8">
<tr>
    <th>Name</th>
    <th>Email</th>
    <th>IP</th>
    <th>Country</th>
    <th>Device</th>
    <th>Date & Time</th>
</tr>

{% for v in visitors %}
<tr>
    <td>{{ v.name }}</td>
    <td>{{ v.email }}</td>
    <td>{{ v.ip }}</td>
    <td>{{ v.country }}</td>
    <td>{{ v.device }}</td>
    <td>{{ v.timestamp.strftime('%d-%m-%Y %I:%M:%S %p') }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
